.brand-samsung {
  content: url("http://thumbs.ebaystatic.com/images/g/4woAAOSwZ8ZW2VrS/s-l140.jpg");
}
.brand-lg {
  content: url("https://www.cellularcountry.com/bmz_cache/5/534032ac1a259bcd9df15af4d1a952c9.image.140x140.jpg");
}
.brand-nexus {
  content: url("http://thumbs1.ebaystatic.com/m/mxI_cgnMjD5WS5jmWWl_c6A/140.jpg");
}
.brand-iphone {
  content: url("http://s3.pji.nu/product/standard/140/2180326.jpg");
} 
.brand-unknown{
    content: url("http://cdn.toonvectors.com/images/37/20527/toonvectors-20527-140.jpg");
}
