<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{vm.model.selectedDevice.name}} {{vm.model.selectedDevice._id}}
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</h3>
	</div>
	<div class="panel-body" >
		<div class="row">
			<div class="col-md-6" ng-show="vm.isDeviceAttached()">
				<div>
					<button type="button" class="btn btn-primary" ng-click="vm.onLocationUpdate()">
					Get location
					</button>
					<button type="button" class="btn btn-primary"
						us-spinner spinner-theme="smallButton"
						spinner-on="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
												vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice"
						ng-hide="vm.model.selectedDevice.device[0].state.videoRecorded.isVideoRecording"
					 	ng-click="vm.recordVideoToggle()"
						ng-disabled="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
												vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice">
					Start video recording
					</button>
					<button type="button" class="btn btn-primary"
						us-spinner spinner-theme="smallButton"
						spinner-on="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
												vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice"
						ng-show="vm.model.selectedDevice.device[0].state.videoRecorded.isVideoRecording"
						ng-click="vm.recordVideoToggle()"
						ng-disabled="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
												vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice">
					Stop video recording
					</button>
					<button type="button" class="btn btn-primary"
					us-spinner spinner-theme="smallButton"
					spinner-on="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
											vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice"
					ng-hide="vm.model.selectedDevice.device[0].state.audioRecorded.isAudioRecording"
					ng-click="vm.recordToggle()"
					ng-disabled="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
											vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice">
					Start recording audio
					</button>
					<button type="button" class="btn btn-primary"
					us-spinner spinner-theme="smallButton"
					spinner-on="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
											vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice"
					ng-show="vm.model.selectedDevice.device[0].state.audioRecorded.isAudioRecording"
					ng-click="vm.recordToggle()"
					ng-disabled="vm.model.selectedDevice.device[0].state.audioRecorded.isEventPassedToDevice ||
											vm.model.selectedDevice.device[0].state.videoRecorded.isEventPassedToDevice">
					Stop recording audio
					</button>
				</div>
			</div>
		</div>
		<p></p>
		<div clas="row">
			<div class="col-md-6" ng-show="vm.isDeviceAttached()">
				<button type="button" class="btn btn-primary"
				us-spinner spinner-theme="smallButton"
				spinner-on="vm.model.selectedDevice.device[0].state.wifi.isEventPassedToDevice"
				ng-hide="vm.model.selectedDevice.device[0].state.wifi.isWifiOn"
				ng-click="vm.wifiToggle()"
				ng-disabled="vm.model.selectedDevice.device[0].state.wifi.isEventPassedToDevice">
				Turn WIFI on
				</button>
				<button type="button" class="btn btn-primary"
				us-spinner spinner-theme="smallButton"
				spinner-on="vm.model.selectedDevice.device[0].state.wifi.isEventPassedToDevice"
				ng-hide="!vm.model.selectedDevice.device[0].state.wifi.isWifiOn"
				ng-click="vm.wifiToggle()"
				ng-disabled="vm.model.selectedDevice.device[0].state.wifi.isEventPassedToDevice">
				Turn WIFI off
				</button>
				<button type="button" class="btn btn-primary"
				us-spinner spinner-theme="smallButton"
				spinner-on="vm.model.selectedDevice.device[0].state.bluetooth.isEventPassedToDevice"
				ng-hide="vm.model.selectedDevice.device[0].state.bluetooth.isBluetoothOn"
				ng-click="vm.bluetoothToggle()"
				ng-disabled="vm.model.selectedDevice.device[0].state.bluetooth.isEventPassedToDevice">
				Turn Bluetooth on
				</button>
				<button type="button" class="btn btn-primary"
				us-spinner spinner-theme="smallButton"
				spinner-on="vm.model.selectedDevice.device[0].state.bluetooth.isEventPassedToDevice"
				ng-hide="!vm.model.selectedDevice.device[0].state.bluetooth.isBluetoothOn"
				ng-click="vm.bluetoothToggle()"
				ng-disabled="vm.model.selectedDevice.device[0].state.bluetooth.isEventPassedToDevice">
				Turn Bluetooth off
				</button>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-9" ng-show="vm.isDeviceAttached()">
				<form name="lockDeviceForm" class="form-inline" ng-submit="vm.changeDeviceLockStatus(true)" novalidate>
					<button type="submit" class="btn btn-danger"
					us-spinner spinner-theme="smallButton"
					spinner-on="vm.model.selectedDevice.device[0].state.deviceLocked.isEventPassedToDevice"
					ng-disabled="lockDeviceForm.$invalid || vm.model.selectedDevice.device[0].state.deviceLocked.isEventPassedToDevice"
					ng-hide="vm.model.selectedDevice.device[0].state.deviceLocked.isDeviceLocked">
						Lock screen
					</button>
					<div class="form-group">
						<input
							ng-hide="vm.model.selectedDevice.device[0].state.deviceLocked.isDeviceLocked"
							ng-disabled="vm.model.selectedDevice.device[0].state.deviceLocked.isEventPassedToDevice"
							name="password"
							type="text"
							class="form-control"
							placeholder="Enter password"
							ng-model="vm.model.lockDevicePassword"
							ng-minlength="4"
							ng-maxlength="4"
							ng-pattern="/^\d+$/"
							required/>
					</div>
					<div ng-show="lockDeviceForm.password.$dirty" style="color:maroon" role="alert">
						<div ng-show="lockDeviceForm.password.$error.minlength">The password is too short</div>
						<div ng-show="lockDeviceForm.password.$error.maxlength">The password is too long</div>
						<div ng-show="lockDeviceForm.password.$error.pattern">The password may contain only numbers </div>
					</div>
					<label ng-show="vm.model.selectedDevice.device[0].state.deviceLocked.isDeviceLocked">
						The device is locked!
					</label>
					<button type="button" class="btn btn-warning"
									us-spinner spinner-theme="smallButton"
									spinner-on="vm.model.selectedDevice.device[0].state.deviceLocked.isEventPassedToDevice"
									ng-click="vm.changeDeviceLockStatus()"
									ng-disabled="vm.model.selectedDevice.device[0].state.deviceLocked.isEventPassedToDevice"
									ng-show="vm.model.selectedDevice.device[0].state.deviceLocked.isDeviceLocked">
										Unlock
					</button>
				</form>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-md-3">
				<div class="btn-group btn-group-lg">
					<button class="btn btn-default" type="button" ng-repeat="btn in vm.model.operations">
					{{btn.title}}
					<i ng-class="btn.icon" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<div class="col-md-6">
			</div>
			<div class="col-md-3">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div map-lazy-load="https://maps.google.com/maps/api/js" ng-show="vm.isDeviceAttached()">
					<ng-map center="41,-87"  zoom-to-include-markers="true">
						<marker animation="Animation.BOUNCE" centered="true" draggable="true"></marker>
					</ng-map>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-md-6">
					<ul>
						<li ng-repeat="file in vm.model.selectedDevice.files.video">
							<a ng-href={{file}} target="_blank">{{file}}</a>
						</li>
					</ul>
					<ul>
						<li ng-repeat="file in vm.model.selectedDevice.files.voice">
							<a ng-href={{file}} target="_blank">{{file}}</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<qrcode data="{{vm.model.selectedDevice._id}}" size="150" download></qrcode>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		{{vm.model.selectedDevice}}
	</div>
</div>
