<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
      <device-list list="vm.model.deviceList"  on-device-selected="vm.attachDeviceToInfoComponent(selectedDevice)" remove-device="vm.onRemove(toRemove)"></device-list>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
      <device-info
				ng-hide="vm.showAdditionInfo()"
				device="vm.model.selectedDevice"
				on-update="vm.updateDeviceInfo()"
				on-record-toggle="vm.toggleRecord(status)"
				on-video-record-toggle="vm.recordVideoToggle(status)"
				on-location-update="vm.getLocation()"
				on-notification="vm.showNotification(message,type,duration)"
				on-device-lock-status-changed="vm.chagneDeviceLockStatus(toLockDevice,withPassword)"
				on-wifi-toggle="vm.toggleWifi(status)"
				on-bluetooth-toggle="vm.toggleBluetooth(status)">
			</device-info>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
		</div>
		<div class="col-md-2">
				<flash-message></flash-message>.
        <new-device new-device-resigtration="vm.toggleResitration()"></new-device>
		</div>
	</div>
</div>
