<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
      <device-list list="vm.model.deviceList"  on-device-selected="vm.attachDeviceToInfoComponent(selectedDevice)" remove-device="vm.onRemove(toRemove)"></device-list>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
        <device-info ng-show="vm.showAdditionInfo()" device="vm.model.selectedDevice" on-update="vm.updateDeviceInfo()"  ></device-info>
		</div>
		<div class="col-md-2">
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
		</div>
		<div class="col-md-2">
        <new-device  new-device-resigtration="vm.toggleResitration()"></new-device>
		</div>
	</div>
</div>
